<h1>Word List</h1>
<div class="new-button">
	<p>Don't see your word? Enter a new one!</p>
	<a href="/words/new"><button type="submit" class="btn">New</button></a>
	<div>
		<a href="/"><button type="submit" class="btn">Back to Generator</button></a>
	</div>
</div>
<table class="table table-striped">
	<thead>
		<th>Text</th>
		<th>Letters</th>
	</thead>
	<tbody>
		<% @words.each do |word| %>
			<tr>
				<td><a href="<%= "/words/#{word.id}" %>"><%= "#{word.text}" %></a></td>
				<td><%= "#{word.letters}" %></td>
				<td>
					<a href="<%= "/words/#{word.id}/edit" %>">Edit</a>
				</td>
				<td>
					<form action="<%= "/words/#{word.id}" %>" method="post">
						<input type="hidden" name="_method" value="delete">
						<button class="btn btn-danger" type="submit">Delete</button>
					</form>
				</td>
			</tr>
		<% end %>	
	</tbody>
</table>